@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html, body {
  display: block;
  position: relative;
  background: #121212;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4 {
  display: block;
  margin: 0;
}

#root, .row-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.bg-container {
  background-image: url('./Resources/desktop-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.spike {
  background-image: url('./Resources/spike.svg');
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  display: block;
  max-width: 250px;
  width: 100%;
  position: absolute;
}

.spike.top-left {
  transform: scale(-1);
  position: absolute;
  top: 0;
  left: 0;
}

.spike.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.spike::after {
  content: '';
  padding-top: 100%;
  display: inline-block;
}

.main-content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-content .centered-banner {
  max-width: 750px;
  width: calc(100% - 40px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content .logo-image {
  display: block;
  line-height: 0;
  max-width: 100px;
  width: 100%;
}

.main-content .page-title {
  margin: 25px 0 0 0;
  font-size: 2.8em;
  text-align: center;
}

.main-content .page-subtitle {
  font-size: 1.8em;
  text-align: center;
  margin: 5px 0 25px 0;
  color: rgba(255,255,255,0.7);
}

.action-btn-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-btn-cont .action-btn {
  padding: 15px 25px;
  background: #E7284B;
  border-radius: 10px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
  max-width: 300px;
  width: calc(100% - 50px);
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1002px) {

  .bg-container {
    background-image: url('./Resources/mobile-img.jpg');
    background-position: top;
  }  

  .spike {
    max-width: 120px;
  }

  .spike.bottom-right {
    display: none;
  }

  .main-content {
    align-items: flex-start;
  }

  .main-content .centered-banner {
    max-width: 300px;
  }

  .main-content .logo-image {
    max-width: 70px;
  }

  .main-content .page-title {
    font-size: 2em;
  }

  .main-content .page-subtitle {
    font-size: 1.2em;
  }

}